<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="header">

        <ul class="nav navbar-nav">
            <li><a href="/">Blog</a></li>
            <li th:if="${isAdmin}"
                th:classappend="${#httpServletRequest.getRequestURI() == '/add_post' ? 'active':''}"><a
                    th:href="@{/add_post}">New post</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/posts' ? 'active':''}"><a
                    th:href="@{/posts}"><span>See all Posts</span></a></li>
            <li th:unless="${username} == 'anonymousUser'"
                th:classappend="${#httpServletRequest.getRequestURI() == '/favorities' ? 'active':''}"><a
                    th:href="@{/favorites}"><span>Favorites</span></a></li>
            <li th:if="${username} == 'anonymousUser'"
                th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"><a
                    th:href="@{/login}"><span>Sign in</span></a></li>
            <li th:if="${username} == 'anonymousUser'"
                th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? 'active':''}"><a
                    th:href="@{/registration}"><span>Sign up</span></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" th:if="${username} != 'anonymousUser'">
            <li><a><span th:text="'Logged as: ' + ${username}"></span></a></li>
            <li style="padding-right: 10px;"><a href="/logout">Sign Out</a></li>
        </ul>
</nav>

<header class="page-heading">
    <div class="container">
        <a name="logo"><h1>Simple Blog</h1></a>
    </div>
</header>

</body>
</html>