<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Blog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/add_post">New post</a></li>
                <li><a href="/posts">See all Posts</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--NIE DZIAŁA-->


<form th:cellpadding="10px" action="#" method="POST" th:action="@{/addPost}" th:object="${post}" id="myform">
    <div>Title:</div>
    <div>
        <label>
            <input type="text" th:id="title" th:field="*{title}"/>
        </label>
    </div>
    <div>Content:</div>
    <div>
        <label>
            <textarea rows="20" cols="80" th:field="*{contents}" form="myform">... </textarea>
        </label>
    </div>
    <div>Tags:</div>
    <!--<div>-->
        <!--<label>-->
            <!--<input type="text" th:id="tags" th:field="*{wrongTags}"/>-->
        <!--</label>-->
    <!--</div>-->
    <div>
        <input type="submit" value="Add"/>
    </div>
</form>

</body>
</html>