<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div th:cellpadding="10px" action="#" method="POST" th:action="@{/addPost}" th:object="${post}" id="myform">
        <div class="form-group">
            <label class="control-label">Title</label>
            <input class="form-control" type="text" th:id="title" th:text="${post.title}" th:field="*{title}"
                   required="required"/>
        </div>
        <div class="form-group">
            <label class="control-label">Content</label>
            <textarea rows="10" id="summernote" th:field="*{contents}" required="required"/>
        </div>
        <button id="save" class="btn btn-primary" onclick="save()" type="button">Save post</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#summernote').summernote();
    });

    var save = function () {
        console.log("saving post using ajax")

        var title = $("#title").val();
        var contents = $("#summernote").summernote('code');
        if (title === '' || contents === '') {
            alert("Title and content can not be empty!")
        } else {
            console.log("Correct data input")
            var data = {}
            data["title"] = title;
            data["contents"] = contents;

            $("#save").prop("disabled", true);

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/addPost",
                data: JSON.stringify(data),
                dataType: 'json',
                timeout: 600000,
                success: function (data) {
                    $("#save").prop("disabled", false);
                    console.log(data)
                },
                error: function (e) {
                    $("#save").prop("disabled", false);
                    console.log(e)
                }
            });
        }

    };
</script>
</body>
</html>