<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>


<div th:cellpadding="10px" action="#" method="POST" th:action="@{/addPost}" th:object="${post}" id="myform">
    <div>Title:</div>
    <div>
        <label>
            <input type="text" th:id="title" th:text="${post.title}" th:field="*{title}"/>
        </label>
    </div>
    <div>Content:</div>
    <textarea  id="summernote" th:field="*{contents}"><p>Hello Summernote</p></textarea >
    <!--<div>-->
        <!--<label>-->
            <!--<textarea rows="20" cols="80" th:field="*{contents}" form="myform">${post.contents}</textarea>-->
        <!--</label>-->
    <!--</div>-->
    <button id="save" class="btn btn-primary" onclick="save()" type="button">Zapisz post</button>
</div>
<script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
    var save = function() {
        console.log("saving post using ajax")
        var data = {}
        data["title"] = $("#title").val();
        data["contents"] = $("#summernote").summernote('code');

        $("#save").prop("disabled", true);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/addPost",
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                $("#save").prop("disabled", false);
            },
            error: function (e) {
                $("#save").prop("disabled", false);
            }
        });
    };
</script>
</body>
</html>