<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in with your account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form th:cellpadding="10px" action="#" th:method="POST" th:action="@{/login}" th:id="loginForm">
    <h2 class="form-heading">Log in</h2>

    <div class="form-group ${error != null ? 'has-error' : ''}">
        <span th:text="${message}"></span>
        <input type="text" th:id="username" th:field="${user.username}" autofocus="true"/>
        <input type="password" th:id="password" th:field="${user.password}"/>
        <span th:text="${error}"></span>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        <h4 class="text-center"><a href="registration.html">Create an account</a></h4>
    </div>
</form>

<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

</body>
</html>