<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!--<span th:text="'User name: ' + ${username}"></span>-->


<div class="container">

    <div class="starter-template">
        <h2>
            Aktualne posty:
        </h2>
    </div>

    <span th:each="post : ${posts}">
        <div class="well">
            <h2><a id="title" th:href="@{/post/{path}(path=${post.id})}" th:text="${post.title}"></a></h2>
            <span>Posted on: </span>
            <span th:text="${post.creationDate}"></span>
            <hr />
            <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla enim nunc, sollicitudin sed dolor quis, mattis cursus erat. Pellentesque in arcu eu neque fermentum fringilla. Cras commodo orci leo, consequat suscipit nunc interdum nec. Vestibulum hendrerit mauris diam, eu vulputate ex accumsan ultricies.</p>
        </div>
    </span>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>-->

</body>
</html>