<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4" th:text="${specificPost.title}"></h1>
            <span>Posted on: </span>
            <span th:text="${specificPost.creationDate}"></span>
            <hr />
            <!--ZDJECIE-->
            <p th:text="${specificPost.contents}"></p>

            <hr />
            <h3>Komentarze: </h3>
            <div id="commentSection" th:switch="${true}">
                <p th:case="${numberOfComments lt 1}">Brak komentarzy</p>

                <p th:case="${numberOfComments gt 0}">

                    <tr th:each="comment: ${specificPost.comments}">
                <p id="title" th:text="${comment.username}"></p>
                <td th:text="${comment.commentsDate}"></td>
                <td th:text="${comment.commentsContent}"></td>
                </tr>
                </p>

            </div>

            <button id="addCommentButton" type="button">Add comment</button>



    <div style="display: none" id="addComent">
        <p>
            This is the paragraph to end all paragraphs. You
            should feel <em>lucky</em> to have seen such a paragraph in
            your life. Congratulations!
        </p>
        <form th:cellpadding="10px" action="#" method="POST" th:action="@{/addComment}"
              th:object="${specificPost.comments[__${numberOfComments-1}__]}" id="commentForm">

                    <div>Your comment:</div>
                    <div>
                        <label>
                            <textarea rows="10" cols="80" th:field="*{commentsContent}" form="commentForm">... </textarea>
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#addCommentButton").click(function () {
        $("#addComent").slideToggle("slow");
    });
</script>
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
</body>
</html>