<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div id="postContainer" th:unless="${posts == null}">

    <tr th:each="post : ${posts}">

        <form th:object="${post}" action="#" method="POST" th:action="@{/deletePost}">

            <a id="title" th:href="@{/post/{path}(path=${post.id})}" th:text="${post.title}"></a>
            <td th:text="${post.creationDate}"></td>
            <input type="submit" value="Delete"/>
            <br/><br/>

        </form>
    </tr>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

</body>
</html>

